{"openapi":"3.1.0","info":{"title":"Dispatch Platform API","version":"1.0","x-engine":"Dispatch Governance Engine","description":"The **Dispatch Platform API** \u2014 the governance engine behind Sovereign Dispatch.\nExternal systems (an ERP, a parliament or case-management system, SharePoint, a\nhospital platform) call it to turn documents into **governed, certified,\npreserved Official Records**: submit \u2192 review chain of offices \u2192 approve \u2192\nrender \u2192 publish \u2192 Governance Certificate \u2192 preserve.\n\nThis document describes the API exactly as it is implemented today. It is the\ncontract an integrator builds against; the Operations Console uses the same\nsurface.\n\n## Authentication\n1. An institution administrator issues an **API client** (a `client_id` + a\n   one-time `secret`) in the console under **Administration \u2192 API Access**,\n   scoped to exactly what the integrating system may do.\n2. The system exchanges the credential at `POST /v1/token` for a short-lived\n   **Bearer JWT** (`access_token`), then sends it as\n   `Authorization: Bearer <token>` on every call.\n3. Tokens are tenant-scoped: a credential only ever sees its own institution's\n   data (enforced by row-level security). Every call is audited.\n\n## Authority vs. capability\nA token carries **scopes** (system capability: read / create / approve /\npublish). *Institutional* authority \u2014 whether a decision is allowed at all \u2014\ncomes from the **office** the credential holds in the governance chain, checked\nat request time. Holding `dispatch:approve` lets you *attempt* a decision; you\ncan only decide the records whose open step is an office you occupy.\n\n## Errors\nEvery error is the same envelope: `{ \"error\": { \"code\", \"message\", \"field\",\n\"requestId\" } }`. Notable governance refusals: `STEP_NOT_OPEN` (out of order),\n`SELF_APPROVAL_FORBIDDEN`, `ROLE_NOT_GRANTED`, `PUBLICATION_AUTHORITY_REQUIRED`,\n`UNKNOWN_OFFICE`, `INSUFFICIENT_CLEARANCE`, `PAYMENT_REQUIRED`.\n"},"servers":[{"url":"https://api.dispatch.sovereigndo.com","description":"Production (target external host)"},{"url":"https://dispatch-api-cqlc.onrender.com","description":"Production (current host)"},{"url":"http://127.0.0.1:8787","description":"Local development"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Auth","description":"Token exchange and institution signup"},{"name":"Records","description":"Create, retrieve and govern Official Records"},{"name":"Lifecycle","description":"Decisions, publication and preservation"},{"name":"Evidence","description":"Audit trail and certificates"},{"name":"Artifacts","description":"Produced files and download grants"},{"name":"API clients","description":"Issue / rotate / revoke integration credentials (admin)"},{"name":"Webhooks","description":"Event subscriptions \u2014 Dispatch \u2192 your systems (the reverse API)"},{"name":"Governance config","description":"Departments, offices, policies, people (admin)"},{"name":"Account","description":"Billing and usage"},{"name":"Service","description":"Health and version"}],"paths":{"/v1/health":{"get":{"tags":["Service"],"summary":"Liveness probe","security":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"engineVersion":{"type":"string"}}}}}}}}},"/v1/version":{"get":{"tags":["Service"],"summary":"Engine and schema version","security":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"engineVersion":{"type":"string"},"schemaVersion":{"type":"string"}}}}}}}}},"/v1/signup":{"post":{"tags":["Auth"],"summary":"Create a new institution (free tenant) and its bootstrap admin credential","security":[],"description":"Public self-serve. Returns a `client_id` + one-time `secret` for the bootstrap administrator of an isolated new tenant.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","example":"Ministry of Health"}}}}}},"responses":{"200":{"description":"Institution created","content":{"application/json":{"schema":{"type":"object","properties":{"tenantId":{"type":"string","format":"uuid"},"client_id":{"type":"string"},"secret":{"type":"string","description":"Shown only once"},"plan":{"type":"string","example":"free"},"scopes":{"type":"array","items":{"type":"string"}}}}}}}}}},"/v1/token":{"post":{"tags":["Auth"],"summary":"Exchange an API client credential for a short-lived Bearer token","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["client_id","secret"],"properties":{"client_id":{"type":"string"},"secret":{"type":"string"}}}}}},"responses":{"200":{"description":"Access token","content":{"application/json":{"schema":{"type":"object","properties":{"access_token":{"type":"string"},"token":{"type":"string","description":"Legacy alias of access_token"},"tokenType":{"type":"string","example":"Bearer"},"expiresIn":{"type":"integer","example":3600},"tenantId":{"type":"string","format":"uuid"},"scopes":{"type":"array","items":{"type":"string"}}}}}}},"401":{"$ref":"#/components/responses/Error"}}}},"/v1/validate":{"post":{"tags":["Records"],"summary":"Validate a document request without submitting it (dry run)","description":"Requires scope `dispatch:validate`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentRequest"}}}},"responses":{"200":{"description":"Validation result","content":{"application/json":{"schema":{"type":"object","properties":{"valid":{"type":"boolean"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiError"}},"warnings":{"type":"array","items":{"type":"object"}}}}}}},"403":{"$ref":"#/components/responses/Error"}}}},"/v1/documents":{"post":{"tags":["Records"],"summary":"Submit a document as an Official Record","description":"Requires scope `dispatch:render`. The record enters the governed pipeline\nand is matched to the applicable governance policy (review chain of offices,\npublication authority, retention). Send an `Idempotency-Key` header for safe\nretries. Returns the new `documentId` and its lifecycle state.\n","parameters":[{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentRequest"}}}},"responses":{"200":{"description":"Submitted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitResponse"}}}},"400":{"$ref":"#/components/responses/Error"},"402":{"$ref":"#/components/responses/Error"},"403":{"$ref":"#/components/responses/Error"}}},"get":{"tags":["Records"],"summary":"List records (the library / queues)","description":"Requires scope `dispatch:read`.","parameters":[{"name":"state","in":"query","schema":{"type":"string","enum":["draft","submitted","in_review","approved","rendered","published","withdrawn","archived","rejected"]}},{"name":"docType","in":"query","schema":{"type":"string"}},{"name":"q","in":"query","description":"Title search","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"integer","default":100,"maximum":500}}],"responses":{"200":{"description":"A page of records, each with institutional posture","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/RecordListItem"}}}}}}},"403":{"$ref":"#/components/responses/Error"}}}},"/v1/documents/{id}":{"get":{"tags":["Records"],"summary":"Retrieve one record \u2014 full posture, versions, chain of authority","description":"Requires scope `dispatch:read`.","parameters":[{"$ref":"#/components/parameters/DocumentId"}],"responses":{"200":{"description":"Record detail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDetail"}}}},"403":{"$ref":"#/components/responses/Error"},"404":{"$ref":"#/components/responses/Error"}}}},"/v1/documents/{id}/decision":{"post":{"tags":["Lifecycle"],"summary":"Approve, reject or return a record (act on the approval chain)","description":"Requires scope `dispatch:approve` AND that the caller holds the office whose\nstep is currently open. Enforces order (`STEP_NOT_OPEN`), separation of\nduties (`SELF_APPROVAL_FORBIDDEN`) and quorum.\n","parameters":[{"$ref":"#/components/parameters/DocumentId"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["decision"],"properties":{"decision":{"type":"string","enum":["approve","reject","return"]},"comment":{"type":"string"},"outputs":{"type":"array","items":{"type":"string","enum":["pdf","docx"]}}}}}}},"responses":{"200":{"description":"Decision recorded; new lifecycle state","content":{"application/json":{"schema":{"type":"object","properties":{"documentId":{"type":"string"},"decision":{"type":"string"},"lifecycle":{"type":"string"},"approvals":{"type":"integer"},"required":{"type":"integer"}}}}}},"403":{"$ref":"#/components/responses/Error"},"409":{"$ref":"#/components/responses/Error"}}}},"/v1/documents/{id}/publish":{"post":{"tags":["Lifecycle"],"summary":"Publish a rendered record as an Official Record","description":"Requires scope `dispatch:publish` AND the publication authority office (`PUBLICATION_AUTHORITY_REQUIRED` otherwise).","parameters":[{"$ref":"#/components/parameters/DocumentId"}],"responses":{"200":{"$ref":"#/components/responses/LifecycleState"},"403":{"$ref":"#/components/responses/Error"},"409":{"$ref":"#/components/responses/Error"}}}},"/v1/documents/{id}/withdraw":{"post":{"tags":["Lifecycle"],"summary":"Withdraw a rendered or published record","description":"Requires scope `dispatch:publish`.","parameters":[{"$ref":"#/components/parameters/DocumentId"}],"responses":{"200":{"$ref":"#/components/responses/LifecycleState"},"403":{"$ref":"#/components/responses/Error"}}}},"/v1/documents/{id}/archive":{"post":{"tags":["Lifecycle"],"summary":"Preserve (archive) a published record","description":"Requires scope `dispatch:publish`. Seals the record terminally and produces a preservation integrity proof.","parameters":[{"$ref":"#/components/parameters/DocumentId"}],"responses":{"200":{"$ref":"#/components/responses/LifecycleState"},"403":{"$ref":"#/components/responses/Error"}}}},"/v1/documents/{id}/governance-certificate":{"get":{"tags":["Evidence"],"summary":"Governance Certificate \u2014 proof the approval chain was satisfied","description":"Requires scope `dispatch:read`. Available once a record is published under an enforced policy.","parameters":[{"$ref":"#/components/parameters/DocumentId"}],"responses":{"200":{"description":"Certificate","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"$ref":"#/components/responses/Error"}}}},"/v1/documents/{id}/certificate":{"get":{"tags":["Evidence"],"summary":"Preservation Certificate \u2014 proof of the sealed, archived record","description":"Requires scope `dispatch:read`. Available only for archived records.","parameters":[{"$ref":"#/components/parameters/DocumentId"}],"responses":{"200":{"description":"Certificate","content":{"application/json":{"schema":{"type":"object"}}}},"409":{"$ref":"#/components/responses/Error"}}}},"/v1/approvals":{"get":{"tags":["Lifecycle"],"summary":"The approver inbox \u2014 records awaiting a decision","description":"Requires scope `dispatch:approve`. Each item names the office that currently holds it.","parameters":[{"name":"state","in":"query","schema":{"type":"string","default":"pending"}}],"responses":{"200":{"description":"Inbox","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/InboxItem"}},"count":{"type":"integer"}}}}}}}}},"/v1/audit":{"get":{"tags":["Evidence"],"summary":"The evidence trail (append-only, hash-stamped)","description":"Requires scope `dispatch:audit`.","parameters":[{"name":"target","in":"query","description":"Filter to one record id","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"Events","content":{"application/json":{"schema":{"type":"object","properties":{"events":{"type":"array","items":{"$ref":"#/components/schemas/AuditEvent"}}}}}}}}}},"/v1/jobs/{id}":{"get":{"tags":["Artifacts"],"summary":"Render job status","description":"Requires scope `dispatch:read`.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Job","content":{"application/json":{"schema":{"type":"object","properties":{"jobId":{"type":"string"},"status":{"type":"string"},"progress":{"type":"integer"},"result":{"type":"object"}}}}}},"404":{"$ref":"#/components/responses/Error"}}}},"/v1/artifacts/{id}":{"get":{"tags":["Artifacts"],"summary":"Download a produced artifact","description":"Either with a Bearer token (`dispatch:read`) or a single-artifact `?grant=` capability minted by the grant endpoint.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"grant","in":"query","schema":{"type":"string"},"description":"Short-lived single-artifact download grant"}],"responses":{"200":{"description":"The file (binary)"},"402":{"$ref":"#/components/responses/Error"},"403":{"$ref":"#/components/responses/Error"}}}},"/v1/artifacts/{id}/grant":{"post":{"tags":["Artifacts"],"summary":"Mint a short-lived single-artifact download URL","description":"Requires scope `dispatch:read` and an active subscription.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Download grant","content":{"application/json":{"schema":{"type":"object","properties":{"downloadUrl":{"type":"string"},"expiresIn":{"type":"integer"}}}}}},"402":{"$ref":"#/components/responses/Error"}}}},"/v1/admin/clients":{"get":{"tags":["API clients"],"summary":"List this institution's API clients","description":"Requires scope `dispatch:admin`.","responses":{"200":{"description":"Clients","content":{"application/json":{"schema":{"type":"object","properties":{"clients":{"type":"array","items":{"$ref":"#/components/schemas/ServiceClient"}}}}}}}}},"post":{"tags":["API clients"],"summary":"Create an API client (issue a credential for an external system)","description":"Requires scope `dispatch:admin`. `dispatch:admin` itself cannot be self-issued.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","scopes"],"properties":{"name":{"type":"string","example":"Parliament System"},"scopes":{"type":"array","items":{"type":"string","enum":["dispatch:validate","dispatch:render","dispatch:read","dispatch:approve","dispatch:publish","dispatch:audit"]}}}}}}},"responses":{"201":{"description":"Credential issued (secret shown once)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssuedCredential"}}}}}}},"/v1/admin/clients/{clientId}/rotate":{"post":{"tags":["API clients"],"summary":"Rotate an API client's secret","description":"Requires scope `dispatch:admin`.","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"New secret (shown once)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssuedCredential"}}}}}}},"/v1/admin/clients/{clientId}/revoke":{"post":{"tags":["API clients"],"summary":"Revoke an API client (cut a system off)","description":"Requires scope `dispatch:admin`.","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Revoked","content":{"application/json":{"schema":{"type":"object","properties":{"client_id":{"type":"string"},"revoked":{"type":"boolean"}}}}}}}}},"/v1/admin/webhooks":{"get":{"tags":["Webhooks"],"summary":"List registered webhook endpoints and delivery stats","description":"Requires scope `dispatch:read`. Secrets are never returned.","responses":{"200":{"description":"Endpoints","content":{"application/json":{"schema":{"type":"object","properties":{"endpoints":{"type":"array","items":{"$ref":"#/components/schemas/WebhookEndpoint"}},"deliveries":{"type":"object","description":"Counts by status (delivered/pending/failed)"},"availableEvents":{"type":"array","items":{"type":"string"}}}}}}}}},"post":{"tags":["Webhooks"],"summary":"Register an endpoint Dispatch will POST events to","description":"Requires scope `dispatch:admin`. Returns a **signing secret once**. Each\ndelivery is signed `X-Dispatch-Signature: sha256=HMAC-SHA256(secret, rawBody)`.\nEvents: `record.submitted`, `record.approved`, `record.rejected`,\n`record.returned`, `record.published`, `record.preserved`. An empty `events`\narray subscribes to all. Delivery is durable and at-least-once.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["url"],"properties":{"url":{"type":"string","example":"https://erp.ministry.gov/hooks/dispatch"},"events":{"type":"array","items":{"type":"string"}},"description":{"type":"string"}}}}}},"responses":{"201":{"description":"Endpoint created (secret shown once)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatedWebhook"}}}},"400":{"$ref":"#/components/responses/Error"}}},"delete":{"tags":["Webhooks"],"summary":"Remove a webhook endpoint","description":"Requires scope `dispatch:admin`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["id"],"properties":{"id":{"type":"string"}}}}}},"responses":{"200":{"description":"Removed","content":{"application/json":{"schema":{"type":"object","properties":{"deleted":{"type":"string"}}}}}}}}},"/v1/admin/webhooks/{id}/test":{"post":{"tags":["Webhooks"],"summary":"Send a test delivery to an endpoint","description":"Requires scope `dispatch:admin`. Enqueues and delivers a `webhook.test` event.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Test attempted","content":{"application/json":{"schema":{"type":"object","properties":{"tested":{"type":"string"},"attempted":{"type":"integer"}}}}}}}}},"/v1/billing":{"get":{"tags":["Account"],"summary":"Plan, usage and download eligibility","responses":{"200":{"description":"Billing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Billing"}}}}}}},"/v1/billing/subscribe":{"post":{"tags":["Account"],"summary":"Subscribe (lift the free record quota, unlock downloads)","responses":{"200":{"description":"Updated billing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Billing"}}}}}}},"/v1/stats":{"get":{"tags":["Account"],"summary":"Institutional outcome counters","responses":{"200":{"description":"Counters","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/v1/governance/my-authority":{"get":{"tags":["Governance config"],"summary":"The caller's offices and the records under their authority","description":"Requires scope `dispatch:read`.","responses":{"200":{"description":"Authority","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/v1/governance/policies":{"get":{"tags":["Governance config"],"summary":"List governance policies","description":"Requires scope `dispatch:read`.","responses":{"200":{"description":"Policies","content":{"application/json":{"schema":{"type":"object"}}}}}},"post":{"tags":["Governance config"],"summary":"Create or update a governance policy","description":"Requires scope `dispatch:admin`. Binds a (docType, classification) to a\nreview chain of OFFICE keys, a publication authority office, and retention.\nEvery referenced office must already exist (`UNKNOWN_OFFICE` otherwise).\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Saved","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}}}}}}}}},"/v1/governance/roles":{"get":{"tags":["Governance config"],"summary":"List offices","departments":null,"grants":null,"delegations":null,"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}},"post":{"tags":["Governance config"],"summary":"Create an office (admin)","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["key","label"],"properties":{"key":{"type":"string"},"label":{"type":"string"},"departmentKey":{"type":"string"},"displayOrder":{"type":"integer"}}}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object"}}}}}},"delete":{"tags":["Governance config"],"summary":"Remove an office (admin)","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["key"],"properties":{"key":{"type":"string"}}}}}},"responses":{"200":{"description":"Removed","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/v1/governance/departments":{"post":{"tags":["Governance config"],"summary":"Create a department (admin)","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["key","name"],"properties":{"key":{"type":"string"},"name":{"type":"string"},"displayOrder":{"type":"integer"}}}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object"}}}}}},"delete":{"tags":["Governance config"],"summary":"Remove a department (admin)","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["key"],"properties":{"key":{"type":"string"}}}}}},"responses":{"200":{"description":"Removed","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/v1/governance/grants":{"post":{"tags":["Governance config"],"summary":"Assign a person/machine to an office (admin)","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["subject","roleKey"],"properties":{"subject":{"type":"string","example":"user:<id> or svc:<clientId>"},"roleKey":{"type":"string"}}}}}},"responses":{"201":{"description":"Granted","content":{"application/json":{"schema":{"type":"object"}}}}}},"delete":{"tags":["Governance config"],"summary":"Revoke an office holder (admin)","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["subject","roleKey"],"properties":{"subject":{"type":"string"},"roleKey":{"type":"string"}}}}}},"responses":{"200":{"description":"Revoked","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/v1/governance/delegations":{"post":{"tags":["Governance config"],"summary":"Appoint an acting holder (admin)","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["roleKey","delegateSubject"],"properties":{"roleKey":{"type":"string"},"delegateSubject":{"type":"string"},"reason":{"type":"string"},"endsAt":{"type":"string","format":"date-time"}}}}}},"responses":{"201":{"description":"Appointed","content":{"application/json":{"schema":{"type":"object"}}}}}},"delete":{"tags":["Governance config"],"summary":"End an acting appointment (admin)","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["roleKey","delegateSubject"],"properties":{"roleKey":{"type":"string"},"delegateSubject":{"type":"string"}}}}}},"responses":{"200":{"description":"Ended","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/v1/users":{"get":{"tags":["Governance config"],"summary":"List people","description":"Requires scope `dispatch:read`.","responses":{"200":{"description":"People","content":{"application/json":{"schema":{"type":"object","properties":{"users":{"type":"array","items":{"$ref":"#/components/schemas/Person"}}}}}}}}},"post":{"tags":["Governance config"],"summary":"Add a person (admin)","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email","fullName"],"properties":{"email":{"type":"string"},"fullName":{"type":"string"},"departmentKey":{"type":"string"},"systemAdmin":{"type":"boolean"}}}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"subject":{"type":"string"}}}}}}}},"delete":{"tags":["Governance config"],"summary":"Remove a person (admin)","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["id"],"properties":{"id":{"type":"string"}}}}}},"responses":{"200":{"description":"Removed","content":{"application/json":{"schema":{"type":"object"}}}}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"A token from `POST /v1/token`. Send as `Authorization: Bearer <access_token>`."}},"parameters":{"DocumentId":{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},"IdempotencyKey":{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string"},"description":"A client-chosen key making submission safe to retry."}},"responses":{"Error":{"description":"Error envelope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ApiError"}}}}}},"LifecycleState":{"description":"New lifecycle state","content":{"application/json":{"schema":{"type":"object","properties":{"documentId":{"type":"string"},"lifecycle":{"type":"string"}}}}}}},"schemas":{"ApiError":{"type":"object","properties":{"code":{"type":"string","example":"STEP_NOT_OPEN"},"message":{"type":"string"},"field":{"type":"string","nullable":true},"requestId":{"type":"string","nullable":true}}},"DocumentRequest":{"type":"object","description":"A DDM (Dispatch Document Model) submission. The full block/section schema is\npublished in the `ddm-schema` package; the shape below is the envelope.\n","required":["schemaVersion","source","document","delivery"],"properties":{"schemaVersion":{"type":"string","example":"1.0"},"idempotencyKey":{"type":"string"},"source":{"type":"object","properties":{"system":{"type":"string"},"tenantId":{"type":"string","format":"uuid"}}},"document":{"type":"object","required":["ddmVersion","docType","metadata","sections"],"properties":{"ddmVersion":{"type":"string","example":"1.0"},"docType":{"type":"string","example":"executive_briefing"},"metadata":{"type":"object","properties":{"title":{"type":"string"},"date":{"type":"string"},"status":{"type":"string"}}},"classification":{"type":"object","properties":{"scheme":{"type":"string"},"level":{"type":"string"}}},"sections":{"type":"array","items":{"type":"object"}}}},"outputs":{"type":"array","items":{"type":"string","enum":["pdf","docx"]}},"delivery":{"type":"object","description":"Required. How the produced artifact is returned.","properties":{"mode":{"type":"string","enum":["async","sync"],"example":"async"},"storage":{"type":"string","example":"signed_url"},"ttlSeconds":{"type":"integer","example":604800},"callbackUrl":{"type":"string","description":"Optional webhook the engine calls when the artifact is ready (Dispatch \u2192 your system)."}}}}},"SubmitResponse":{"type":"object","properties":{"requestId":{"type":"string"},"documentId":{"type":"string"},"status":{"type":"string"},"lifecycle":{"type":"string"},"jobId":{"type":"string"},"requiredApprovals":{"type":"integer"}}},"RecordListItem":{"type":"object","properties":{"documentId":{"type":"string"},"docType":{"type":"string"},"title":{"type":"string"},"lifecycle":{"type":"string"},"status":{"type":"string","description":"Institutional status sentence","e.g. \"Awaiting Director of Policy\"":null},"currentAuthority":{"type":"string","nullable":true},"nextAuthority":{"type":"string","nullable":true},"publicationAuthority":{"type":"string","nullable":true}}},"DocumentDetail":{"type":"object","properties":{"id":{"type":"string"},"docType":{"type":"string"},"title":{"type":"string"},"lifecycle":{"type":"string"},"submittedBy":{"type":"object","properties":{"name":{"type":"string"},"office":{"type":"string"}}},"governanceChain":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string"},"quorum":{"type":"integer"},"by":{"type":"array","items":{"type":"string"}},"state":{"type":"string","enum":["done","current","pending"]},"publication":{"type":"boolean"}}}},"posture":{"type":"object"}}},"InboxItem":{"type":"object","properties":{"documentId":{"type":"string"},"title":{"type":"string"},"currentAuthority":{"type":"string","nullable":true},"submittedByName":{"type":"string","nullable":true},"submittedAt":{"type":"string","format":"date-time"}}},"AuditEvent":{"type":"object","properties":{"eventId":{"type":"string"},"action":{"type":"string"},"actor":{"type":"string"},"ts":{"type":"string","format":"date-time"}}},"ServiceClient":{"type":"object","properties":{"client_id":{"type":"string"},"name":{"type":"string"},"scopes":{"type":"array","items":{"type":"string"}},"active":{"type":"boolean"},"created_at":{"type":"string","format":"date-time"},"last_used_at":{"type":"string","format":"date-time","nullable":true}}},"IssuedCredential":{"type":"object","properties":{"client_id":{"type":"string"},"secret":{"type":"string","description":"Shown only once"},"name":{"type":"string"},"scopes":{"type":"array","items":{"type":"string"}}}},"WebhookEndpoint":{"type":"object","properties":{"id":{"type":"string"},"url":{"type":"string"},"events":{"type":"array","items":{"type":"string"}},"description":{"type":"string","nullable":true},"active":{"type":"boolean"},"last_status":{"type":"string","nullable":true},"last_delivery_at":{"type":"string","format":"date-time","nullable":true},"created_at":{"type":"string","format":"date-time"}}},"CreatedWebhook":{"type":"object","properties":{"id":{"type":"string"},"url":{"type":"string"},"events":{"type":"array","items":{"type":"string"}},"secret":{"type":"string","description":"Signing secret \u2014 shown only once"}}},"Person":{"type":"object","properties":{"id":{"type":"string"},"subject":{"type":"string","example":"user:<id>"},"email":{"type":"string"},"fullName":{"type":"string"},"departmentKey":{"type":"string","nullable":true},"systemAdmin":{"type":"boolean"},"status":{"type":"string"}}},"Billing":{"type":"object","properties":{"plan":{"type":"string"},"subscriptionStatus":{"type":"string"},"documentsUsed":{"type":"integer"},"documentQuota":{"type":"integer"},"quotaRemaining":{"type":"integer"},"canDownload":{"type":"boolean"}}}}}}